#searchBar {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: row;
}

#searchResults {
    margin-top: 75px;
}

.results {
    margin-top: 15px;
}

#resetZip {
    display: flex;
    align-items: flex-start;
    width: 120px;
    justify-content: center;
    margin-left: 40vw;

}

#product {
    margin-top: 100px;
}

#zipEnter {
    height: 35px;
    margin-bottom: 25px;
}

#zipErr::placeholder {
    opacity: 1;
    color: red;
}

#image {
    height: 200px;
    width: auto;
    margin-top: 20px;
}

#googleSignIn {
    margin-left: 10px;
}

#googleLogOut {
    margin-left: 10px;
}